<div class="ei-newslatter-box position-relative ei-newslatter-box_clear">
   <div class="container">
      <div class="section_title text-center">
         <h2>Оставь свои данные для связи с нами!</h2>
         <p></p>
      </div>
      <div class="sa-contact-inner-form">
         <form id="ajax_form" method="post" action="">
            <div class="row">
               <div class="col-12">
                  <div class="form-tooltip" id="contact-name" data-trigger='manual'>
                     <input name="name" placeholder="Ваше имя" type="text" autocomplete="on" value="">
                  </div>
               </div>
               <div class="col-lg-6 col-12">
                  <div>
                     <div class="form-tooltip" id="contact-email" data-trigger='manual'>
                        <input name="email" placeholder="Ваш Email" type="email" autocomplete="on" value="">
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-12">
                  <div>
                     <div class="form-tooltip" id="contact-phone" data-trigger='manual'>
                        <input name="phone" placeholder="Ваш номер телефона" type="number" autocomplete="on" value="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="sa-contact-inner-btn text-center">
               <div class="saas_btn">
                  <button id="btn" class="saas_btn-link"><i class="fas fa-paper-plane"></i> <span id="btn_text">Отправить</span></button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<div class="ei-footer-shape3 position-absolute"><img src="/assets/img/shape/eimap.png"
   alt="курсы веб дизайна для детей | Roblox Studio|Python| айти школа Киев| айти школа Украина | Scratch | Скретч для детей | индивидуальные уроки">
</div>